# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

DATABASE_URL=mysql://root:12345678@localhost:3306/darx_c
S3_REGION=fake
S3_BUCKET=fake
S3_ACCESS_KEY_ID=fake
S3_SECRET_ACCESS_KEY=fake
REDIS_URL=fake